@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
.header {
  padding: 0 1.4rem;
  height: 60px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  position: fixed;
  width: calc(100% - 240px);
  top: 0;
  z-index: 1000;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  .form-control {
    max-width: 25rem;
    border: 0;
    background-color: #f1f3fa;
  }

  .input-group-text {
    border: 0;
    background-color: #f1f3fa !important;
  }

  .icon {
    font-size: 1.3rem;
    color: $secondary;
  }

  .profile {
    height: 100%;
    &-img {
      width: 36px;
      height: 36px;
      object-fit: cover;
    }

    @include media-breakpoint-down(sm) {
      &__username {
        display: none;
      }
    }
  }

  .menu {
    display: none;
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      align-items: center;

      &__icon {
        font-size: 2rem;
        color: $primary;
      }
    }
  }
}

.form-control:focus {
  border: 0;
  box-shadow: none;
  outline: none;
}
