<header class="header shadow-sm">
  <div class="menu" (click)="onMenuToggle()">
    <i class="bx bx-menu menu__icon"></i>
  </div>
  <div class="input-group">
    <input
      class="form-control border-right-0"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <span class="input-group-text bg-transparent">
      <i class="bx bx-search-alt-2 icon"></i>
    </span>
  </div>

  <div class="profile d-flex justify-content-center align-items-center gap-2">
    <img
      class="profile-img border border-primary rounded-circle"
      src="https://cdn.dribbble.com/users/2364329/screenshots/5930135/aa.jpg"
      alt=""
    />
    <h6 class="profile__username m-0 text-secondary">Rahhi</h6>
  </div>
</header>
