<div class="container-fluid bg-light back-image">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-xl-4 col-xxl-4">
      <div class="bg-white p-4 rounded-2 shadow">
        <app-logo></app-logo>
        <h4 class="text-center text-secondary fw-bold">
          Log in to your Account
        </h4>
        <p class="text-center mt-2">
          Don't have an account?
          <a routerLink="/register" class="text-primary">Sign up</a>
        </p>

        <form
          [formGroup]="loginForm"
          class="row gap-4 p-3"
          (ngSubmit)="onSubmitHandler()"
        >
          <app-form-field label="Email">
            <input
              type="email"
              class=""
              [ngClass]="invalidClass('email')"
              id="email"
              formControlName="email"
            />
            <app-field-error [isInvalid]="isInvaild('email')">
              <ng-container *ngIf="form.email.errors?.required">
                Email is required
              </ng-container>
              <ng-container *ngIf="form.email.errors?.email">
                Email is invalid
              </ng-container>
            </app-field-error>
          </app-form-field>

          <app-form-field label="Password">
            <input
              type="password"
              class=""
              [ngClass]="invalidClass('password')"
              id="password"
              formControlName="password"
            />
            <app-field-error [isInvalid]="isInvaild('password')">
              <ng-container *ngIf="form.password.errors?.required">
                Password is required
              </ng-container>
              <ng-container *ngIf="form.password.errors?.minlength">
                Password must be at least 8 characters
              </ng-container>
            </app-field-error>
          </app-form-field>

          <div class="text-primary text-end">Forget Password?</div>
          <app-button
            type="submit"
            [full]="true"
            [loading]="isLoading$"
            [disabled]="loginForm.invalid"
          >
            Log in
          </app-button>
        </form>
      </div>
    </div>
  </div>
</div>
