<div class="container-fluid bg-light back-image">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-xl-4 col-xxl-4">
      <div class="bg-white p-4 rounded-2 shadow m-auto">
        <app-logo></app-logo>

        <h4 class="text-center text-secondary fw-bold">Create your account</h4>

        <p class="text-center mt-2">
          Have an account?
          <a routerLink="/login" class="text-primary">Sign in</a>
        </p>

        <form
          [formGroup]="registerForm"
          class="row gap-4 p-2"
          (ngSubmit)="onSubmitHandler()"
        >
          <app-form-field label="Username">
            <input
              type="text"
              [ngClass]="invalidClass('username')"
              id="username"
              formControlName="username"
            />
            <app-field-error [isInvalid]="isInvaild('username')">
              <ng-container *ngIf="form.username.errors?.required">
                Username is required
              </ng-container>
            </app-field-error>
          </app-form-field>

          <app-form-field label="Email">
            <input
              type="email"
              [ngClass]="invalidClass('email')"
              id="email"
              formControlName="email"
            />
            <app-field-error [isInvalid]="isInvaild('email')">
              <ng-container *ngIf="form.email.errors?.required">
                Email is required
              </ng-container>
              <ng-container *ngIf="form.email.errors?.email">
                Email is invalid
              </ng-container>
            </app-field-error>
          </app-form-field>

          <app-form-field label="Password">
            <input
              type="password"
              [ngClass]="invalidClass('password')"
              id="password"
              formControlName="password"
            />
            <app-field-error [isInvalid]="isInvaild('password')">
              <ng-container *ngIf="form.password.errors?.required">
                Password is required
              </ng-container>
              <ng-container *ngIf="form.password.errors?.minlength">
                Password must be at least 8 characters
              </ng-container>
            </app-field-error>
          </app-form-field>

          <app-form-field label="Confirm Password">
            <input
              type="password"
              [ngClass]="invalidClass('confirmPassword')"
              id="confirmpassword"
              formControlName="confirmPassword"
            />
            <app-field-error [isInvalid]="isInvaild('confirmPassword')">
              <ng-container *ngIf="form.confirmPassword.errors?.required">
                Confirm Password is required
              </ng-container>
              <ng-container *ngIf="form.confirmPassword.errors?.matching">
                Confirm Password does not match
              </ng-container>
            </app-field-error>
          </app-form-field>

          <app-button
            class="full mt-2"
            type="submit"
            [loading]="isLoading$ | async"
            [disabled]="registerForm.invalid"
          >
            Register
          </app-button>
        </form>
      </div>
    </div>
  </div>
</div>
