<rb-breadcrumb-navbar
  title="Projects"
  [breadcrumbItems]="breadcrumbItems"
></rb-breadcrumb-navbar>
<div class="row mt-2 align-items-center justify-content-center">
  <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
    <app-button
      data-bs-toggle="modal"
      data-bs-target="#projectModal"
      color="secondary"
    >
      <i class="bx bx-plus me-1" style="font-size: 1.4rem"></i>Create project
    </app-button>
  </div>
  <div
    class="col-md-6 mt-3 mt-md-0 d-flex justify-content-md-end justify-content-center"
  >
    <app-button #all color="primary" (click)="onAllHandler()">All</app-button>
    <div class="btn-group ms-2" role="group" aria-label="Basic example">
      <button
        #ongoing
        type="button"
        class="btn btn-light"
        (click)="onOngoingHandler()"
      >
        Ongoing
      </button>
      <button
        #finished
        type="button"
        class="btn btn-light"
        (click)="onFinishedHandler()"
      >
        Finished
      </button>
    </div>
  </div>
</div>

<div class="row g-3 mt-3" *ngIf="appData$ | async as data">
  <div
    *ngIf="data.dataState === DATA_STATE.LOADING_STATE"
    class="spinner-border text-primary mx-auto"
    role="status"
  >
    <span class="visually-hidden"></span>
  </div>
  <ng-container *ngFor="let project of data.appData">
    <div class="col-lg-6 col-xxl-3">
      <app-project-item
        [project]="project"
        (onClick)="onItemClick(project.id)"
        (onMenuItemClick)="onMenuItemClick($event, project)"
      ></app-project-item>
    </div>
  </ng-container>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="projectModal"
  tabindex="-1"
  aria-labelledby="projectModalLabel"
  aria-modal="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel">
          {{ (isEditing$ | async) ? "Update Project" : "Create a new Project" }}
        </h5>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="projectForm"
          (ngSubmit)="onSubmitHandle()"
          class="row gap-3 p-1"
        >
          <app-form-field
            [required]="true"
            lableFor="name"
            label="Project name"
          >
            <input type="text" id="name" formControlName="name" />
          </app-form-field>
          <app-form-field
            [required]="true"
            label="Description"
            lableFor="description"
          >
            <textarea
              id="description"
              rows="4"
              formControlName="description"
            ></textarea>
          </app-form-field>
          <app-form-field
            [required]="true"
            label="Start Date"
            lableFor="startdate"
          >
            <input
              type="date"
              id="startdate"
              #startDate
              formControlName="startDate"
            />
          </app-form-field>
          <app-form-field label="Due Date" lableFor="duedate">
            <input
              type="date"
              id="duedate"
              [min]="startDate.value"
              formControlName="dueDate"
            />
          </app-form-field>

          <div class="form-check">
            <input
              formControlName="isCompleted"
              class="form-check-input"
              type="checkbox"
              id="flexCheckChecked"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Mark as finished
            </label>
          </div>

          <div class="modal-footer pb-0">
            <app-button
              type="button"
              color="secondary"
              id="closeModal"
              data-bs-dismiss="modal"
              (onClick)="onCloseModal()"
            >
              Close
            </app-button>
            <app-button
              type="submit"
              [disabled]="projectForm.invalid"
              [loading]="isSaving$ | async"
            >
              {{ (isEditing$ | async) ? "Update" : "Save" }}
            </app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
