

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}


.icon {
  font-size: 0.9rem;
  color: #8d9497;
}

.dropdown-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
  &:active {
    background-color: whitesmoke;
  }
}

.arrow-none:after {
  display: none;
}

.custome_drowdown_menu {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(-142px, 22px, 0px);
}


