.text-muted {
  color: #98a6ad;
  font-size: 0.9rem;
  line-height: 1.6;
}

.title-font-size {
  font-size: 0.95rem;
}

.subtitle-font-size {
  font-size: 0.9rem;
}

.card-shadow {
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}

.text-title {
  font-weight: 700;
  font-size: 1.4rem;
}

.icon {
  font-size: 0.9rem;
  color: #8d9497;
}

.dropdown-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
  &:active {
    background-color: whitesmoke;
  }
}

.arrow-none:after {
  display: none;
}

.custome_drowdown_menu {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(-142px, 22px, 0px);
}

.cursor-pointer {
  cursor: pointer;
}
