<rb-breadcrumb-navbar
  class="bread-padding"
  title="Tasks Board"
  [breadcrumbItems]="breadcrumbItems"
></rb-breadcrumb-navbar>

<div class="row mt-2 align-items-center justify-content-center toolbar">
  <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
    <app-button
      data-bs-toggle="modal"
      data-bs-target="#projectModal"
      color="secondary"
    >
      <i class="bx bx-plus me-1" style="font-size: 1.4rem"></i> Add Task
    </app-button>
  </div>
  <div
    class="col-md-6 mt-3 mt-md-0 d-flex justify-content-md-end justify-content-center"
  >
    <div class="input-group me-2">
      <input
        class="form-control border-right-0"
        type="search"
        placeholder="Search..."
        aria-label="Search"
      />
      <span class="input-group-text bg-transparent">
        <i class="bx bx-search-alt-2 icon text-secondary"></i>
      </span>
    </div>
    <app-button #all color="primary" (click)="onAllHandler()">All</app-button>
    <div class="btn-group ms-2" role="group" aria-label="Basic example">
      <!-- <button
        #ongoing
        type="button"
        class="btn btn-light"
        (click)="onOngoingHandler()"
      >
        Ongoing
      </button> -->

      <button
        #finished
        type="button"
        class="btn btn-light"
        (click)="onFinishedHandler()"
      >
        <i class="bx bx-filter"></i>
      </button>
    </div>
  </div>
</div>

<!-- task board -->
<div class="tableFixHead">
  <div class="board">
    <!-- DONE -->
    <div class="board__column">
      <h5
        class="board__column-header text-title"
        *ngFor="let boardColumn of boardColums"
      >
        {{ boardColumn.name }}
        <div
          class="badge bg-danger float-end"
          [ngClass]="{
            'bg-danger': boardColumn.id === 'todo',
            'bg-success': boardColumn.id === 'done',
            'bg-info': boardColumn.id === 'inprogress'
          }"
        >
          {{ boardColumn.itemCount }}
        </div>
      </h5>
    </div>

    <div class="tasks" cdkDropListGroup>
      <div
        *ngFor="let boardColumn of boardColums"
        id="{{ boardColumn.id }}"
        class="tasks__list-items"
        cdkDropList
        [cdkDropListData]="boardColumn.data"
        (cdkDropListDropped)="drop($event)"
      >
        <!-- task -->
        <div
          cdkDrag
          [cdkDragData]="task"
          class="card card-shadow bg-white border-0 rounded-3"
          *ngFor="let task of boardColumn.data"
        >
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="card-body p-3">
            <small class="float-end text-muted">
              {{ task.createdAt | date : "mediumDate" }}
            </small>
            <span
              class="badge bg-danger"
              [ngClass]="{
                'bg-danger': task.priority === 'HIGH',
                'bg-success': task.priority === 'LOW',
                'bg-warning': task.priority === 'MEDIUM'
              }"
              >{{ task.priority }}</span
            >

            <h5 class="mt-2 mb-2 text-secondary text-title cursor-pointer">
              <a>{{ task.title }}</a>
            </h5>

            <div class="text-muted">
              {{ task.description }}
            </div>
            <!-- end card-body -->
          </div>
        </div>
        <!-- task end -->
      </div>
    </div>
    <!-- IN Progress END -->
  </div>
</div>
<!-- task board end -->
