@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
$primary: #0052cc;
$secondary: #253858;
$light: #f4f5f7;
$success: #57d9a3;
$danger: #de350b;
$info: #84b3fa;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
